<div class="register-security-person-container" style="padding-top: 80px">
	<div>


		<!--

					Request Body Vars
					==================

			        var username = req.body.username; *

			        var pwd = req.body.pwd; *

                    var email = req.body.email; *

                    var securityType = req.body.securityType; *

                    var streetName = req.body.streetName; *

                    var language = req.body.language; *

                    var firstname = req.body.firstname; *

                    var lastname = req.body.lastname; *

                    var zipcode = req.body.zipcode; *

                    var city = req.body.city; *

                    var country = req.body.country; *

                    var state = req.body.state; *

                    var telephone = req.body.telephone; *

                    var workPhone = req.body.workPhone; *

                    var workPhoneExt = req.body.workPhoneExt; *

                    var appartment = req.body.appartment; *



					Security Person Types
					=====================

					{
						value : 1,
						name : "pour centrale 911"
					},
					{
						value : 2,
						name : "pour pompier"
					},
					{
						value : 3,
						name : "pour police"
					},
					{
						value : 4,
						name : "pour ambulancier"
					},
					{
						value : 5,
						name : "pour hôpital"
					},
					{
						value : 6,
						name : "pour remorquage"
					}

                    -->

		<div class="register-security-person-content">
			<div class="text-center">
				<span class="panel-title">Profile security person</span>
			</div>
			<br>

			<form name="securityPerson" class="form-horizontal" role="form" name="form">

				<fieldset>
					<div class="rs-input">
						<label class="control-label">Username</label>
						<div>
							<input type="text" class="form-control" name="nom" ng-model="user.username" placeholder="Définissez un nom d'utilisateur (entre 8 et 20 carac.)">
						</div>
					</div>
					<div ng-show="nameLenghtNotValid">
						<div class="alert alert-danger" role="alert">Username lenght must be between 8 and 20</div>
					</div>
					<div ng-show="nameAlreadyUsed">
						<div class="alert alert-danger" role="alert">Username exist</div>
					</div>




					<div ng-show="confNotValid">
						<div class="alert alert-danger" role="alert">Les deux mots de passe ne correspondent pas</div>
					</div>

					<div class="rs-input">
						<label for="firstname" class="control-label">Email</label>
						<div>
							<input type="email" class="form-control" name="email" ng-model="user.email" placeholder="Exemple: courriel@domaine.com">
						</div>
						<div ng-show="mailAlreadyUsed">
							<div class="alert alert-danger" role="alert">Email exist</div>
						</div>
					</div>

					<div class="rs-input">
						<label for="firstname" class="control-label">Security Type</label>
						<div class="rs-select-container">
							<select class="form-control" ng-model="user.securityType" ng-options="item as item.name for item in securityType track by item.value"
							    ng-init="securityType[0]">
								</select>
						</div>
						<div ng-show="invalidSecurityType">
							<div class="alert alert-danger" role="alert">Select a valid security type</div>
						</div>
					</div>

				</fieldset>

				<fieldset>
					<div class="rs-input">
						<label class="control-label">Firstname</label>
						<div>
							<input type="text" class="form-control" name="firstname" ng-model="user.firstname" placeholder="Saisissez votre prénom">
						</div>
					</div>
					<div class="rs-input">
						<label class="control-label">Lastname</label>
						<div>
							<input type="text" class="form-control" name="lastname" ng-model="user.lastname" placeholder="Saisissez votre nom de famille">
						</div>
					</div>
					<div class="rs-input">
						<label class="control-label">Telephone</label>
						<div>
							<input type="text" class="form-control" name="telephone" ng-model="user.telephone" placeholder="Telephone">
						</div>
					</div>

					<div ng-show="telFormatInvalid">
						<div class="alert alert-danger" role="alert">Format de téléphone invalide pour le pays sélectionné<br>Exemple de numéros valides: {{telExamples}}</div>
					</div>

					<div class="rs-input">
						<label class="control-label">Workphone</label>
						<div>
							<input type="text" class="form-control" name="telephone" ng-model="user.workPhone" placeholder="Workphone">
						</div>
					</div>

					<div ng-show="workPhoneFormatInvalid">
						<div class="alert alert-danger" role="alert">Invalid telephone number</div>
					</div>

					<div class="rs-input">
						<label class="control-label">Workphone Ext</label>
						<div>
							<input type="text" class="form-control" name="telephone" ng-model="user.workPhoneExt" placeholder="Workphone Ext">
						</div>
					</div>

					<div ng-show="workPhoneExtFormatInvalid">
						<div class="alert alert-danger" role="alert">Invalid telephone ext</div>
					</div>

					<div class="rs-input">
						<label class="control-label">Appartment</label>
						<div>
							<input type="text" class="form-control" name="telephone" ng-model="user.appartment" placeholder="Workphone Ext">
						</div>
					</div>

					<div ng-show="invalidAppartment">
						<div class="alert alert-danger" role="alert">Invalid appartment</div>
					</div>


				</fieldset>

				<fieldset>

					<div class="rs-input">
						<label for="icode" class="control-label">Languge</label>
						<div class="rs-select-container">
							<select class="form-control" name="country" ng-model="user.language" placeholder="Sélectionnez votre langue" ng-options="item as item.name || 'Select Language' for item in langueList track by item.code">
								</select>
						</div>
					</div>

					<div ng-show="languageNotChosen">
						<div class="alert alert-danger" role="alert">Veuillez sélectionner une langue SVP</div>
					</div>

					<div class="rs-input">
						<label class="control-label">Street Address</label>
						<div>
							<input type="text" class="form-control" name="city" ng-model="user.streetName" placeholder="StreetAddress">
						</div>
					</div>
					<div ng-show="addressLengthNotValid">
						<div class="alert alert-danger" role="alert">L'adresse doit comprendre au plus 100 caractères</div>
					</div>
					<div class="rs-input">
						<label class="control-label">City</label>
						<div>
							<input type="text" class="form-control" name="city" ng-model="user.city" placeholder="Indiquez votre ville de résidence">
						</div>
					</div>
					<div class="rs-input">
						<label class="control-label">Country</label>
						<div class="rs-select-container">
							<select class="form-control" name="country" ng-model="user.country" placeholder="Sélectionnez votre pays de résidence" ng-options="item as item.countryName || 'Select Country' for item in countries track by item.countryCode"
							    ng-change="getStates()">
								</select>
						</div>
					</div>
					<div ng-show="countryNotChosen">
						<div class="alert alert-danger" role="alert">Select a valid Country</div>
					</div>
					<div ng-show="user.country && states">

						<p ng-show="user.country && !states" class="text-center">Loading States...</p>

						<div class="rs-input" ng-show='states'>
							<label for="icode" class="control-label">State</label>
							<div>
								<select class="form-control" name="country" ng-model="user.state" placeholder="Sélectionnez votre état/province/région" ng-options="item as item.stateName for item in states track by item.stateCode">
									</select>
							</div>
						</div>
					</div>
					<div ng-show="stateNotChosen">
						<div class="alert alert-danger" role="alert">Select a valid State</div>
					</div>
					<div class="rs-input">
						<label class="control-label">Zipcode</label>
						<div>
							<input type="text" class="form-control" name="city" ng-model="user.zipcode" placeholder="Zipcode">
						</div>
					</div>
					<div ng-show="invalidZipcode">
						<div class="alert alert-danger" role="alert">Invalid Zipcode</div>
					</div>
				</fieldset>


				<div ng-show="creationPb">
					<div class="alertAuth alert-danger" role="alert">
						<strong>Erreur lors de la data!</strong> Veuillez rééssayer SVP
					</div>
				</div>

				<div class="text-center">
					<br>
					<button type="submit" class="rs-submit-button" ng-click="update()" ng-disable="!user">Update</button>
					<br><br><br>
				</div>

			</form>

		</div>
	</div>
</div>