<footer class="footer" layout="row" layout-align="space-around center" layout-padding>
  <style>
    footer a,
    footer h4 {
      text-decoration: none;
      color: grey;
    }
  </style>
  <div layout="column">
    <h4 class="center-text color-grey">Usage</h4>
    <a class="color-grey" href="#">Join us</a>
    <a class="color-grey" href="#">General conditions of use</a>
    <a class="color-grey" href="#">FAQ</a>
    <a class="color-grey" href="#">Mobile app</a>
  </div>
  <div layout="column">
    <h4 class="center-text color-grey">Purchases</h4>
    <a class="color-grey" href="#">PayPal payment protection</a>
    <a class="color-grey" href="#">Help with purchases</a>
    <a class="color-grey" href="#">Sales tools</a>
    <a class="color-grey" href="#">Mobile EyeNation</a>


  </div>
  <div layout="column">
    <h4 class="center-text color-grey">General Information</h4>
    <a class="color-grey" href="#">EyeNation company details</a>
    <a class="color-grey" href="#">Novelties</a>
    <a class="color-grey" href="#">Bank pre-approval form</a>
  </div>

  <style>
    footer {
      background-color: #d4d8d8;
      height: 100%;
    }

    footer a {
      margin-bottom: 2px;
    }
  </style>
  <!--<div layout="column">
    <p style="margin-top: 10px">Purshasing media representative responsible for the publishing of citized reporters' videos according to journalistic
      or Superior Council of Audiovisual code of ethics</p>
    <br class="visible-md visible-lg">
    <p>&copy; {{ today | date: 'yyyy' }} Eyenation en direct inc. All rights reserved</p>

  </div>-->
</footer>