/*Body*/

.caption p {
    margin-right: 50px;
}

#view-more-btn {
    width: 200px;
    background-color: rgba(0, 0, 0, 0.87);
    color: white
}

.more-button {
    margin-top: 50px;
    border: 2px solid #bfc1c2;
    border-radius: 5px;
    background: transparent;
    /*background: white;*/
    color: #bfc1c2;
    padding: 8px 0 8px 0;
    font-size: 0.75em;
    font-weight: bold;
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);*/
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.tags {
    margin-right: 20px;
}

md-chip {
    border-radius: 5px !important;
}

.minutes-video {
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: 0.7em;
    color: white;
    background: #545457;
}

.img-card {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
}

.md-fab {
    position: absolute;
    height: 30% !important;
    width: 17% !important;
    min-height: 10px !important;
    /*padding: 15px;*/
    background: white !important;
}

.speed-dial {
    position: absolute;
    bottom: -40px;
    right: -30px;
    padding: 6%;
    background: white;
    border-radius: 50%;
    /*border: solid 5px #b2b2b2;*/
}

.selected {
    border: solid 3px #b2b2b2;
}

.screw {
    min-height: 30px;
    min-width: 25px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

.speed-dial button i {
    font-size: 1.4em;
}

.sub-buttons img,
.sub-buttons i {
    cursor: pointer;
}

.icon-speed-top {
    width: 25%;
    position: absolute;
    border: solid 3px #b2b2b2;
    border-radius: 50%;
}

.pencil-icon {
    /*min-width: 25px;*/
    width: 25%;
    /*position: absolute;*/
    top: -12%;
    right: 20%;
    /*border: solid 3px #b2b2b2;
    border-radius: 50%;*/
}

.erase-icon {
    /*min-width: 25px;*/
    /*width: 25%;*/
    /*position: absolute;*/
    bottom: 30%;
    left: -17%;
    /*border: solid 3px #b2b2b2;
    border-radius: 50%;*/
}

.auction-icon {
    /*min-width: 25px;*/
    /*width: 25%;*/
    /*position: absolute;*/
    top: -4%;
    left: 0%;
    /*border: solid 3px #b2b2b2;
    border-radius: 50%;*/
}

.pencil-icons {
    font-size: 1.2em;
    position: absolute;
    background: white;
    border-radius: 50%;
    padding: 2px;
    border: solid 3px #b2b2b2;
}

.certificate-icon {
    bottom: -10%;
    left: 10%;
}

.pencil-done {
    top: -15%;
    left: 20%;
    color: green;
}

.pencil-cancel {
    bottom: 35%;
    left: -16%;
    color: red;
}

.color-red {
    color: #d5232b;
    ;
}

.minitag {
    margin-right: 5px;
}

.close-tag {
    font-size: 1.2em;
    margin-left: 5px;
}

.plus-tag {
    margin-right: 10px;
}

.add-tag {
    margin: 25px 0 0 0;
}

.high-bid {
    color: #d5252d;
    margin-bottom: 10px !important;
}

.vid-info p {
    margin: 0;
}

.info-bid {
    margin: 30px 0 5px 0 !important;
}

.auctioner {
    color: #0484c9;
}

.autor {
    margin-bottom: 15px !important;
}

.view-img {
    width: 45px;
    height: auto;
}

.countdown-mini {
    position: absolute;
    bottom: -60px;
    right: -40px;
    border-radius: 50%;
    padding: 20px;
    background: white;
    /*max-height: 40%;*/
    width: 30%;
}

.main-image {
    border: 5px solid #d5232b;
}

.icons-speed {
    padding: 3px;
    background: white;
}

.counter {
    padding-bottom: 20px;
    text-align: center;
}

.chip-category {
    padding: 5px 12px;
    background: rgb(224, 224, 224);
    color: rgb(66, 66, 66);
    border-radius: 5px;
    margin: 0 10px 0 0;
}

.text-sub {
    font-size: 20px !important;
}

.img-auction {
    /*height: 25%;*/
    /*height: auto;*/
    background-color: white;
    border-radius: 50%;
    padding: 4px;
    border: solid 3px #b2b2b2;
    margin-left: 5px;
}

.icons-auction {
    bottom: -5px;
    right: 0;
}

.counter-main {
    padding-bottom: 50px;
    padding-right: 40px;
    text-align: center;
    /*margin: 0;*/
}

.counter-auction {
    padding-bottom: 26px;
    padding-right: 12px;
    text-align: center;
}

.remove-auction {
    z-index: 2;
    color: red;
    font-size: 2em;
}