<footer class="page-footer">
    <div class="divider"></div>
    <div class="">
        <div class="row">
            <div class="col l4 s4">
                <h5 class="grey-text">{{homePageVocabulary.usage}}</h5>
                <ul class="grey-text">
                    <li><a class="grey-text" ng-click="showModals(2)" href="">{{homePageVocabulary.joinUsLink}}</a></li>
                    <li><a class="grey-text" ng-click="showModals(3)" href="">{{homePageVocabulary.conditionsOfUseLink}}</a></li>
                    <li><a class="grey-text" href="">{{homePageVocabulary.FAQLink}}</a></li>
                    <!--<li><a class="grey-text" href="">{{homePageVocabulary.mobileAppLink}}</a></li>-->
                </ul>
            </div>
            <div class="col l4 s4">
                <h5 class="grey-text">{{homePageVocabulary.purchases}}</h5>
                <ul>
                    <li><a class="grey-text" ng-click="showModals(4)" href="">{{homePageVocabulary.purchaseProtectionPaypalLink}}</a></li>
                    <!--<li><a class="grey-text" href="">{{homePageVocabulary.helpForPurchasing}}</a></li>
                    <li><a class="grey-text" href="">{{homePageVocabulary.salesToolsLink}}</a></li>-->
                    <li><a class="grey-text" href="">{{homePageVocabulary.mobileEyeNationLink}}</a></li>
                </ul>
            </div>

            <div class="col l4 s4">
                <h5 class="grey-text">{{homePageVocabulary.generalInformation}}</h5>
                <ul>
                    <li><a class="grey-text" ng-click="showModals(6)" href="">{{homePageVocabulary.companyDetailsLink}}</a></li>
                    <li><a class="grey-text" ng-click="showModals(5)" href="">{{homePageVocabulary.noveltyLink}}</a></li>
                    <li><a class="grey-text" href="">{{homePageVocabulary.bankPreApprovalFormLink}}</a></li>
                </ul>
            </div>

            <div class="col s12">
                <ul>
                    <li><a href="#" class="grey-text">{{homePageVocabulary.GeneralConditionsOfUseExplanation}}</a></li>
                </ul>
                <!--<h5 class="grey-text"></h5>-->

            </div>

        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Eyenation en direct inc. All rights reserved.

            </div>
        </div>
    </div>
</footer>