<div id="totalHeader">
    <nav id="nav-header">
        <div id="header" class="nav-wrapper valign-wrapper navbar-fixed">
            <div id="brand" class="adjust-vertically">
                <img ng-click="showModals(6)" class="adjust-vertically" title="Renseignements sur la société" src="resources/images/logoMAIN.png"
                    alt="">
            </div>
            <div id="profile" class="inline adjust-vertically">

                <div id="info" class="valign-wrapper nav-child hide-on-small-only">
                    <div>
                        <h6 class="small-font">{{mediaAgentFirstname}} {{mediaAgentLastname}}</h6>
                        <h6 class="small-font">{{mediaCompany}}</h6>
                    </div>
                </div>
            </div>
            <div id="icons" class="valign-wrapper parent-block">
                <img title="​Mon profil" id="profile-icon" ng-click="showModals(1)" class="icon-header" src="resources/images/user.png" alt="">
                <h6 class="small-font" style="position: absolute; top: -10px;left:65px;color:white;    font-size: 0.65em; background-color:#d4292f;border-radius:50%;padding: 2px 5px"><strong>1</strong></h6>
                <img title="Mes vidéos certifiés" ng-click="goToMyVideos()" id="dossier-icon" class="icon-header" class="adjust-vertically"
                    src="resources/images/dossier.png" alt="">
                <h6 ng-show="NoSeenAuction>0" class="small-font" style="position: absolute; top: -10px;right:-12px;color:white; font-size: 0.65em; background-color:#d4292f;border-radius:50%;padding: 2px 5px"><strong>{{NoSeenAuction}}</strong></h6>
                <img title="Suivi des enchères en cours" id="auction-icon" class="icon-header" ng-click="minizeAuction(4)" class="adjust-vertically"
                    src="resources/images/encheres.png" alt="">

            </div>
            <div id="money" class="valign-wrapper hide-on-small-only" style="height: 100%">
                <div>
                    <h6 id="current-money" title="Augmenté la limite d’achat"><strong>{{homePageVocabulary.creditsLeft}}</strong>{{creditsLeft | currency}}</h6>
                </div>
            </div>

            <div>
                <h6 style="font-size:1.5em">{{getCurrentTime()}}</h6>
            </div>

            <div class="valign-wrapper parent-block">
                <ds-widget-clock gmt-offset="1" show-analog></ds-widget-clock>
                <h6 class="small-font city-label" style="left: 10px;">London:</h6>
                <ds-widget-clock gmt-offset="-4" show-analog></ds-widget-clock>
                <h6 class="small-font city-label" style="left: 128px;">New York:</h6>
                <ds-widget-clock gmt-offset="9" show-analog></ds-widget-clock>
                <h6 class="small-font city-label" style="right: 50px;">Tokyo:</h6>
            </div>
            <div class="valign-wrapper right-flex hide-on-small-only">
                <div id="language-selector">
                    <div class="dropdown parent-block">
                        <a id="language" class="dropdown-button" href='#/accueil' data-activates='dropdown1'>Language</a>
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="" ng-click="selectLanguage('en')"> English</a></li>
                            <li><a href="" ng-click="selectLanguage('fr')"> Français </a></li>
                            <li><a href=""> Spanish </a></li>
                            <li><a href=""> Portuguese </a></li>
                            <li><a href=""> Germain </a></li>
                        </ul>
                    </div>
                </div>
                <div id="menu" class="valign-wrapper parent-block">
                    <img title="-Paramètres​-Déconnexion" class="icon-header dropdown-button" href='#/accueil' data-activates='dropdown2' src="resources/images/hamburger.png"
                        alt="">

                    <div id="logoutOption" class="invisibleBox hidden">
                        <a id="logout-link" href="../#/login">
                    Déconnexion
                        </a>
                        <ul id='dropdown2' class='dropdown-content'>
                            <li>
                                <a id="logout-link" href="../#/login">
                    Déconnexion
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav id="my-bids" class="pointer valign-wrapper" ng-click="minizeAuction(3)" ng-controller="homeController">
        <div id="my-bids-div" ng-class="{'shadow':shadow}" ng-mouseleave="shadow=false" ng-mouseenter="shadow=true" ng-click="minizeAuction(3)"
            class="nav-wrapper adjust-vertically valign-wrapper">
            <div class="adjust-vertically valign-wrapper" ng-repeat="video in userBidVideos">
                <div class="valign-wrapper adjust-vertically max-width-header">
                    <img src="resources/images/bon.png" ng-show="video.bidCurrentAmount=== video.video[0].auction.highestBid" alt="">
                    <img src="resources/images/main-red.png" ng-hide="video.bidCurrentAmount=== video.video[0].auction.highestBid" alt="">
                    <p style="margin-left: 5px" class="small-font">{{getTimeLeft($index, 'userBidVideos')}}</p>
                    <p style="margin-left: 5px" class="small-font">{{video.video[0].name || homePageVocabulary.noName}}</p>
                </div>
                <div class="vertical-divider"></div>
            </div>


        </div>
        <div id="info-bids" ng-click="minizeAuction(3)" class="valign-wrapper right-flex adjust-vertically">
            <p>MY BIDS</p>
            <div id="my-bid-img" class="valign-wrapper adjust-vertically">
                <img class="adjust-vertically" src="resources/images/encheres.png" alt="">
            </div>
        </div>
    </nav>
    <nav id="my-auctions" class="parent-block hidden">
        <div id="options" class="inline">
            <i id="minimize-top" ng-click="minizeAuction(1)" class="center material-icons color-grey-top">-</i>

        </div>
        <div class="nav-wrapper valign-wrapper parent-block" id="my-auctions-div" style="background-color:#353438">
            <div class="inline child-auctions adjust-vertically pointer" ng-repeat="video in userBidVideos" ng-init="NoSeenAuction = userBidVideos.length">
                <div class="thumbnail">
                    <div class="parent-block">
                        <img class="videos-header" ng-click="displayAuction($index, 'userBidVideos')" ng-src="../api/videos/{{video.video[0].unique_name}}/thumbnail"
                            on-error-src="resources/images/notFound.jpg">
                        <h6 class="small-font caption-videos truncate caption-videos-selectable" ng-click="displayAuction($index, 'userBidVideos')">{{video.video[0].name || homePageVocabulary.noName}}
                        </h6>
                        <img class="top-icon-heder" ng-show="video.bidCurrentAmount=== video.video[0].auction.highestBid" src="resources/images/bon.png"
                            alt="">
                        <img class="top-icon-heder" ng-hide="video.bidCurrentAmount=== video.video[0].auction.highestBid" src="resources/images/main-red.png"
                            alt="">
                        <div class="countdown" style="bottom: 10px" ng-init="maxUserBid$index=getSecundsVideo(video.video[0].auction.end)">
                            <round-progress max="maxUserBid$index" current="timer" color="red" bgcolor="#ededed" radius="100" stroke="15" semi="false"
                                rounded="true" clockwise="false" responsive="true" duration="800" animation="easeInOutQuart"
                                animation-delay="0"></round-progress>

                            <p class="counter-down-text-header">{{getTimeLeftCounters(video.video[0].auction.end)}}</p>
                        </div>
                    </div>
                </div>
                <div ng-show="maxUserBid$index > timer">
                    <div class="thumbnail-info" style="line-height: 1px" ng-show="video.bidCurrentAmount=== video.video[0].auction.highestBid">
                        <h6>{{auctionVocabulary.topCurrentAuction}}</h6>
                        <h5 class="highest-bid bid-info">{{video.video[0].auction.highestBid | currency}}</h5>
                        <h6 class="small-font grey-text">{{auctionVocabulary.maximumBid}}</h6>
                        <div class="inline valign-wrapper ">
                            <input type="number" placeholder="Enter an amount">
                            <i class="center material-icons icon-bid done right-flex">done</i>
                            <i class="center material-icons icon-bid cancel">close</i>
                        </div>
                    </div>

                    <div class="thumbnail-info" ng-hide="video.bidCurrentAmount === video.video[0].auction.highestBid">
                        <div class="inline adjust-horizontal">
                            <div>
                                <h6 class="small-font">{{auctionVocabulary.topCurrentAuction}}</h6>
                                <h5>{{video.video[0].auction.highestBid | currency}}</h5>
                            </div>
                            <div class="right-flex">
                                <h6 class="small-font">{{auctionVocabulary.myBid}}</h6>
                                <h6 class="lower-bid">{{video.bidCurrentAmount | currency}}</h6>
                            </div>
                        </div>
                        <div class="bid-info">
                            <h6 class="small-font label-input-header">{{auctionVocabulary.initialBid}}</h6>
                            <div class="inline valign-wrapper ">
                                <input type="number" ng-model="currentBid" placeholder="Enter an amount">
                                <i ng-click="makeBid(currentBid, video.video[0])" class="center material-icons icon-bid done right-flex">done</i>
                            </div>

                        </div>
                        <div>
                            <h6 class="small-font grey-text">OPTIONAL MAXIMUM AUTOMATIC BID</h6>
                            <div class="inline valign-wrapper ">
                                <input type="number" placeholder="Enter an amount">
                                <i class="center material-icons icon-bid done right-flex">done</i>
                                <i class="center material-icons icon-bid cancel">close</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-hide="maxUserBid$index > timer">
                    <div class="thumbnail-info">
                        <div ng-show="video.bidCurrentAmount=== video.video[0].auction.highestBid">
                            <h6>YOU WON!!</h6>
                            <h5 class="highest-bid bid-info">{{video.video[0].auction.highestBid | currency}}</h5>
                        </div>
                        <div ng-hide="video.bidCurrentAmount=== video.video[0].auction.highestBid">
                            <h6>YOU LOST!!</h6>
                            <h5 class="lower-bid bid-info">{{video.video[0].auction.highestBid | currency}}</h5>
                        </div>

                    </div>
                </div>
                <div class="vertical-divider"></div>
            </div>

        </div>
    </nav>
</div>