<div id="side-menu" >
    <div id="categories" class="row">
        <div class="col s12 title">
            <h6 id="category-title">
                CATÉGORIES
            </h6>
        </div>
        <div class="col s12 row">
            <ul class="col s4">
                <li>Accident</li>
                <li>Arts</li>
                <li>Autos</li>
                <li>Brutality</li>
                <li>Crime</li>
                <li>Culture</li>
                <li>Environment</li>
                <li>Fashion</li>
            </ul>
            <ul class="col s4">
                <li>Fire</li>
                <li>Innovation</li>
                <li>Judiciairy</li>
                <li>Movie</li>
                <li>Politic</li>
                <li>Science</li>
                <li>Security</li>
                <li>Sport</li>
            </ul>
            <ul class="col s4">
                <li>Techno</li>
                <li>Terrorism</li>
                <li>Violence</li>
                <li>Weather</li>
                <li>Toutes les catégories</li>
            </ul>
        </div>
        <div id="selected-categories" class="valign-wrapper col s12">

            <div class="chip">
                <a id="add-tag" href="#!">+</a>
            </div>

            <div class="chip inline">
                Gun
                <i class="close material-icons">close</i>
            </div>

            <div class="chip inline">
                policeman
                <i class="close material-icons">close</i>

            </div>
            <div class="chip inline">
                Siren
                <i class="close material-icons">close</i>
            </div>
        </div>

        <div id="tag-input" class="col s8 offset-s1 hidden">
            <input type="text" placeholder="Add tags">
        </div>

    </div>
    <div class="divider"></div>
    <div id="googleMap">
        <div class="group-map adjust-horizontal adjust-vertically">
            <div id="map" class="adjust-horizontal adjust-vertically"></div>
            <p class="mapLegend"><strong>{{homePageVocabulary.mediaBombTitle}}</strong></p>
        </div>
    </div>
    <div class="divider"></div>

    <div id="page-config" class="col s10 offset-s1">
        <div class="valign-wrapper">
            <i class="material-icons icons-side-menu">assignment</i>
            <div class="spec-data">
                <h6>Date indifférente</h6>
                <h6>Dernière heure </h6>
                <strong><h6>Dernières 24 heures</h6></strong>
                <h6>Dernières 48 heures</h6>
            </div>
        </div>
        <div class="divider"></div>

        <div class="inline center valign-wrapper">
            <i class="material-icons icons-side-menu">settings_overscan</i>
            <div class="spec-data">
                <h6>Résolution</h6>
            </div>
        </div>
        <div class="divider"></div>
        <div class="inline center valign-wrapper">
            <i class="material-icons icons-side-menu">aspect_ratio</i>
            <div class="spec-data">
                <h6>Ratio</h6>
            </div>
        </div>
    </div>

</div>