<div menu></div>

<div class="container">
    <div id="signupbox"  class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">{{userLanguageAccountFields.information_change}}</div>
            </div>  
            <div class="panel-body" >
                <form id="signupform" class="form-horizontal" role="form" name="form">
                                                                          
                                      
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{userLanguageAccountFields.username}}</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="nom" ng-model="user.name" placeholder="{{userLanguageAccountFields.choose_username}}">
                        </div>
                    </div>
                        
                        
                    <div ng-show="nameLenghtNotValid">
                        <div class="alert alert-danger" role="alert">{{userLanguageAccountFields.name_length_error}}</div>
                    </div>
                      
                    <div ng-show="nameAlreadyUsed">
                        <div class="alert alert-danger" role="alert">
                           {{userLanguageAccountFields.user_name_already_exists_error}}
                        </div>
                    </div>
                    
                        
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">{{userLanguageAccountFields.email}}*</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="{{userLanguageAccountFields.email_example}}" required>
                        </div>
                        
                        <div ng-show="mailAlreadyUsed">
                            <div class="alert alert-danger" role="alert">
                                {{userLanguageAccountFields.email_already_in_use_error}}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{userLanguageAccountFields.firstname}}*</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="firstname" ng-model="user.firstname" placeholder="{{userLanguageAccountFields.firstname}}" required>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{userLanguageAccountFields.lastname}}*</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="lastname" ng-model="user.lastname" placeholder="{{userLanguageAccountFields.lastname}}" required>
                        </div>
                    </div>
                    
                        
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{userLanguageAccountFields.phone_number}}*</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="telephone" ng-model="user.telephone" placeholder="{{userLanguageAccountFields.phone_number}}" required>
                        </div>
                    </div>

                    <div ng-show="telFormatInvalid">
                            <div class="alert alert-danger" role="alert">{{userLanguageAccountFields.invalid_phone_country_error}}<br>{{userLanguageAccountFields.valid_phone_examples}}{{telExamples}}</div>
                        </div>
                    

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{userLanguageAccountFields.address}}*</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="address" ng-model="user.address" placeholder="{{userLanguageAccountFields.define_address}}" required>
                        </div>
                    </div>

                    <div ng-show="addressLengthNotValid">
                        <div class="alert alert-danger" role="alert">{{userLanguageAccountFields.address_length_error}}</div>
                    </div>
                    

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{userLanguageAccountFields.town}}*</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="city" ng-model="user.city" placeholder="{{userLanguageAccountFields.town}}" required>
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{userLanguageAccountFields.country}}*</label>
                        <div class="col-md-9">
                            <select class="form-control" name="country" ng-model="user.country" placeholder="{{userLanguageAccountFields.country}}" required>
                                <option ng-repeat="(key, data) in paysList" value="{{key}}">{{data.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div ng-show="countryNotChosen">
                        <div class="alert alert-danger" role="alert">{{userLanguageAccountFields.no_country_error}}</div>
                    </div>
                   
                    <div ng-show="user.country">
                        <div class="form-group">
                            <label for="icode" class="col-md-3 control-label">{{userLanguageAccountFields.state_province}}*</label>
                            <div class="col-md-9">
                                <select class="form-control" name="country" ng-model="user.state" placeholder="{{userLanguageAccountFields.state_province}}" required>
                                    <option ng-repeat="(key, data) in getStatesByCurrentCountry()" value="{{key}}">{{data}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div ng-show="stateNotChosen">
                        <div class="alert alert-danger" role="alert">{{userLanguageAccountFields.no_state_province_error}}</div>
                    </div>

                    <div class="form-group">
                        <label for="icode" class="col-md-3 control-label">{{userLanguageAccountFields.language}}*</label>
                        <div class="col-md-9">
                            <select class="form-control" name="country" ng-model="user.language" placeholder="{{userLanguageAccountFields.language}}" required>
                                <option ng-repeat="(key, data) in langueList" value="{{key}}">{{data}}</option>
                                </select>
                        </div>
                    </div>

                     <div ng-show="languageNotChosen">
                        <div class="alert alert-danger" role="alert">{{userLanguageAccountFields.no_language_selected_error}}</div>
                    </div>
                    
                    <h6>(*): {{userLanguageAccountFields.required_field_msg}}</h6>
                    <div ng-show="modificationPb">
                        <div class="alertAuth alert-danger" role="alert">
                            <strong>{{userLanguageAccountFields.modification_error}}!</strong>{{userLanguageAccountFields.try_again}}
                        </div>
                    </div>
                                    
                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="validate(user)">{{userLanguageAccountFields.validate_change_btn}}</button>
                                
                </form>
            </div>
        </div>            
    </div> 
</div>