<div>
    <div class="valign-wrapper">
        <img class="modalImg" src="resources/images/topModal1.png" alt="">
        <h4 class="center adjust-horizontal">Renseignement sur la société</h4>
    </div>
    <div class="parent">
        <div class="center-item font-medium">
            <div>
                <h5>Notre mission</h5>
                <p>
                    Outiller le citoyen dans une perspective de justice sociale en ayant comme objectif de démocratiser la valeur et l’utilisation
                    d’une vidéo.
                </p>
            </div>
            <div>
                <h5>Vision</h5>
                <p>
                    Devenir une sommité en matière d’enregistrement certifié de vidéo en direct et révolutionner la façon de rendre publique
                    une vidéo à travers le monde.
                </p>
            </div>
            <div>
                <h5>Valeurs</h5>
                <p>
                    Intégrité / fierté / loyauté / justice sociale redistributrive
                </p>
            </div>
            <div>
                <h5>Approche</h5>
                <p>
                    Mettre à la disposition du public un ensemble de services qui garanti l’authentification d’un enregistrement vidéo et l’attribution
                    d’une valeur réel à chaque enregistrement.
                </p>
            </div>
        </div>
    </div>
</div>