<div>
    <div class="valign-wrapper">
        <img class="modalImg" src="resources/images/topModal1.png" alt="">
        <h4 class="center adjust-horizontal">TERMES ET CONDITIONS D’EYENATION NEWS</h4>
    </div>
    <h5>REMARQUES PRÉLIMINAIRES</h5>
    <p>
        La liberté de presse est fondamentale à la liberté d’expression. Pour EyeNation les acteurs du milieu journalistique et médiatique
        doivent avoir accès à une grande diversité de contenu, car toute personne a droit à une information de qualité, libre,
        indépendante et pluraliste.
    </p>
    <p>
        EyeNation News est un service qui favorise le droit à l’information et la justice sociale. Rien dans ce présent contrat ne
        peut être interprété comme limitant indument le droit à l’information du public.
    </p>
    <ol>
        <li>
            <h5>ENGAGEMENTS GÉNÉRAUX ET FONCTIONNEMENT</h6>
                <ol>
                    <li>
                        <h6>
                            Normes minimales
                        </h6>
                        <p>
                            Durant leur utilisation des services d’EyeNation News (les services), les utilisateurs s’engagent à respecter les règles
                            de conduite qui font partie intégrante de leurs obligations professionnelles, la loi et le présent
                            contrat. Celui-ci contient des normes minimales d’éthique et de déontologie, qui ne doivent pas
                            limiter la portée de toutes normes auxquelles l’utilisateur est assujetti en raison des normes
                            de conduite et de protection du public qui découlent sa profession.
                        </p>
                    </li>
                    <li>
                        <h6>
                            Durée de l’enchère.
                        </h6>
                        <p>
                            Lors du téléchargement de la vidéo sur la plateforme, celle-ci est mise à l’enchère pour une période de quatre (4) heures,
                            afin d’obtenir le meilleur prix possible, avec un prix plancher minimal obligatoire fixé par
                            EyeNation.
                        </p>
                    </li>
                    <li>
                        <h6>
                            L’enregistrement de la vidéo.
                        </h6>
                        <p>
                            L’utilisateur comprend et accepte que la vidéo soit reproduite (enregistrée) directement sur la plateforme sécurisée, non
                            pas dans son appareil de captation. EyeNation fournit un service efficace et de qualité, mais
                            ne peut être tenu responsable pour les dommages ou les inconvénients qui découleraient de l’effacement
                            du contenu ou du défaut partiel ou total de la reproduction de la vidéo sur la plateforme.
                        </p>
                    </li>
                    <li>
                        <h6>
                            Propriété
                        </h6>
                        <p>
                            La personne qui possède le compte d’utilisateur à l’aide duquel la vidéo est enregistrée sur la plateforme est présumée être
                            le propriétaire du contenu de la vidéo. Au moment de la vente et en contrepartie du prix d’achat
                            ou d’adjudication, elle cède automatiquement à l’adjudicataire (ci-après l’acheteur) tous les
                            droits d’utilisation (reproduction et communication publique) de la vidéo, sans renoncer à son
                            droit de s’en voir attribuer la création. En contrepartie, l’acheteur s’engage à en faire une
                            utilisation conforme au présent contrat, quelque que soit le montant payé.
                        </p>
                    </li>
                    <li>
                        <h6>
                            Conclusion de la vente.
                        </h6>
                        <p>
                            La vente est conclue entre le propriétaire et le plus offrant au moment de l’écoulement du délai de quatre (4) heures, la
                            vente étant conditionnelle, en tout temps, à l’écoulement de ce délai.
                        </p>
                    </li>
                    <li>
                        <h6>
                            Droit de propriété et EyeNation.
                        </h6>
                        <p>
                            À aucun moment EyeNation, qui a un rôle d’intermédiaire entre le vendeur et l’acheteur, n’est considéré propriétaire d’une
                            vidéo déposée sur la plateforme EyeNation News, sauf si pour une raison exceptionnelle il en
                            a fait l’acquisition.
                        </p>
                    </li>
                    <li>
                        <h6>
                            La vidéo n’est pas achetée.
                        </h6>
                        <p>
                            Si à la fin du délai de quatre (4) heures, personne n’a misé à l’enchère pour acheter une vidéo, elle est conservée dans
                            l’espace sécurisé.
                        </p>
                    </li>
                    <li>
                        <h6>
                            L’exclusivité EyeNation.
                        </h6>
                        <p>
                            La personne qui utilise les services d’EyeNation pour la reproduction de sa vidéo ne peut, en aucun cas, en faire une copie.
                            Elle doit exploiter les droits de propriété sur sa vidéo exclusivement par l’entremise des services
                            d’EyeNation, qui s’engage à ne pas exploiter ou utiliser la vidéo sans l’autorisation du titulaire
                            des droits.
                        </p>
                    </li>
                    <li>
                        <h6>
                            Les médias membres.
                        </h6>
                        <p>
                            Tous les journalistes qui utilisent les services d’EyeNation doivent fournir leur numéro d’identification professionnelle
                            ou syndicale au moment de créer leur compte. Ceux qui ne détiennent pas un tel numéro d’identification,
                            mais qui s’identifient comme journaliste, doivent envoyer une demande écrite à EyeNation qui
                            peut exiger au candidat de remplir certaines conditions pour exercer leur droit d’utilisation.
                        </p>
                    </li>
                </ol>
        </li>
        <li>
            <h5>
                CONSULTATION PAR LES SERVICES D’URGENCES.
            </h5>
            <ol>
                <li>
                    <p>
                        Les utilisateurs comprennent et acceptent qu’une vidéo mise à l’enchère sur la plateforme EyeNation News puisse être consultée
                        par les services d’urgence canadien, bien qu’elle n’ait pas été captée lors d’un appel 911 VIDEO.
                    </p>
                </li>
                <li>
                    <p>
                        Les services d’urgence ont uniquement accès aux vidéos qui ont été enregistrés dans un rayon de cent (100) mètres d’un appel
                        911 VIDEO.
                    </p>
                </li>
                <li>
                    <p>
                        Les services d’urgence ne peuvent pas enregistrer, copier ou fixer de quelque manière que ce soit la vidéo. Ils s’engagent
                        à consulter les vidéos afin d’améliorer leur mode et délai de réponse à un appel d’urgence et non
                        à des fins d’enquêtes.
                    </p>
                </li>
                <li>
                    <p>
                        La vidéo est accessible aux services d’urgence pour une durée maximale de deux (2) heures ne pouvant dépasser le délai de
                        la vente à l’enchère.
                    </p>
                </li>
                <li>
                    <p>
                        EyeNation et ses marques de commerce ne peuvent être tenus responsables pour les dommages ou les inconvénients subis à cause
                        de la vente à l’enchère d’une vidéo et de son retrait de la plateforme EyeNation News.
                    </p>
                </li>
            </ol>

        </li>
        <li>
            <h5>
                L’ENREGISTREMENT ET LA MISE À L’ENCHÈRE
            </h5>
            <ol>
                <li>
                    <h6>
                        La sécurité
                    </h6>
                    <p>
                        La personne qui enregistre une vidéo doit s’assurer d’être dans un endroit sécuritaire, sauf si elle est elle-même en situation
                        d’urgence ou en danger et qu’elle requiert du secours pour elle-même. La vérification de son environnement
                        doit avoir lieu constamment.
                    </p>
                </li>
                <li>
                    <h6>
                        L’aide.
                    </h6>
                    <p>
                        Conformément à la loi, la personne qui constate qu’une autre personne est en danger, doit lui venir en aide dans la mesure
                        de ses capacités. L’enregistrement en direct d’une vidéo, sans appel d’urgence, ne libère pas la
                        personne de son obligation de porter secours à autrui. Nulle personne n’est tenue de mettre en péril
                        sa propre sécurité ni d’agir au-delà de ses connaissances ou de ses capacités pour remplir cette
                        obligation.
                    </p>
                </li>
                <li>
                    <h6>
                        La manière de faire.
                    </h6>
                    <p>
                        La personne qui procède à l’enregistrement doit demeurer sensible à la souffrance humaine, à la dignité de la personne et
                        se conformer aux normes journalistiques. Elle doit respecter la vie privée et les normes particulières
                        qui découlent du lieu, par exemple les lieux de culte, les hôpitaux ou les tribunaux.
                    </p>
                </li>
                <li>
                    <h6>
                        L’appareil de captation.
                    </h6>
                    <p>
                        C’est à la personne qui capte la vidéo qu’il appartient de s’assurer de ses habiletés et compétences à utiliser l’appareil.
                        EyeNation n’est pas responsable des défauts d’une vidéo, notamment de la qualité de l’enregistrement.
                    </p>
                </li>
                <p>
                    Afin de favoriser la diversité de l’information et d’assurer l’authenticité des vidéos, EyeNation n’intervient pas dans l’évaluation
                    du contenu des vidéos enregistrés sur la plateforme, sauf pour les exceptions ci-dessous.
                </p>
                <li>
                    <h6>
                        La mise en scène et la copie.
                    </h6>
                    <p>
                        La personne qui met à l’enchère une vidéo garantit l’authenticité et le caractère réel des événements qu’elle reproduit.
                        Ainsi une vidéo ne comporte ni montage ni mise en scène et n’est pas constitué en tout ou en partie
                        d’une copie d’une autre vidéo. Toute personne qui croit de bonne foi et en vertu d’une croyance raisonnable
                        qu’un enregistrement ne respecte pas ces conditions, doit le dénoncer à EyeNation, qui se réserve
                        le droit de retirer la vidéo en cause, sans préavis ni compensation.
                    </p>
                </li>
                <li>
                    <h6>
                        Les droits fondamentaux.
                    </h6>
                    <p>
                        EyeNation se réserve le droit de retirer, sans préavis ni compensation, tout enregistrement faisant la promotion de la violence,
                        de l’intolérance, ou de toute forme de discrimination illicite ou, encore toute vidéo dont le contenu
                        n’est pas d’intérêt public.
                    </p>
                </li>
                <li>
                    <h6>
                        L’identification de l’auteur et les signatures.
                    </h6>
                    <p>
                        EyeNation reconnait l’importance de la reconnaissance du travail d’un auteur de vidéo. Il autorise les utilisateurs à signer
                        leur vidéo. L’utilisateur qui refuse de divulguer son identité par le processus EyeNation entraine
                        une obligation corrélative de taire l’identité l’auteur. EyeNation se réserve le droit de retirer,
                        sans préavis ni compensation, tout enregistrement qui comporterait toute signature qui ne soit pas
                        le nom de l’auteur ou son pseudonyme.
                    </p>
                </li>
                <li>
                    <h6>
                        La responsabilité.
                    </h6>
                    <p>
                        La personne qui enregistre la vidéo est entièrement responsable de son contenu. En mettant l’enregistrement à l’enchère,
                        elle doit s’assurer que la vidéo respecte le droit en vigueur au Québec, particulièrement le droit
                        à l’image et à la réputation d’autrui ainsi que les droits de propriété intellectuelle, le secret
                        professionnel et les secrets d’affaire.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <h5>
                L’ÉTHIQUE DE LA CONCURRENCE ET DE LA PRATIQUE JOURNALISTIQUE
            </h5>
            <p>
                La recherche d’un meilleur accès à la justice sociale et l’accès à l’information doivent être au cœur de l’utilisation des
                services d’EyeNation et de la plateforme EyeNation News, la recherche d’une rémunération équivalente au son
                juste prix d’une vidéo n’étant pas incompatible avec ces objectifs.
            </p>
            <ol>
                <li>
                    <h6>
                        Censure
                    </h6>
                    <p>
                        L’enregistrement ou l’achat d’une vidéo ne doit pas être fait dans un but de censure, de chantage ou de menace contre autrui.
                    </p>
                </li>
                <li>
                    <h6>
                        Concurrence
                    </h6>
                    <p>
                        L’achat d’une vidéo ne doit pas avoir pour objectif unique de la soutirer à ses concurrents dans le but de ne pas la diffuser.
                        Les médias ne doivent pas utiliser les services d’EyeNation dans le but de fixer les prix d’achats
                        à l’encontre des règles de saine concurrence.
                    </p>
                </li>
                <li>
                    <h6>
                        Conflit d’intérêt.
                    </h6>
                    <p>
                        Les utilisateurs doivent s’abstenir de mettre en enchère une vidéo, de miser ou de transiger, directement ou indirectement,
                        sur une vidéo dont le contenu les place en situation de conflit d’intérêt. À titre d’illustration,
                        un conflit d’intérêt peut se comprendre de l’achat d’une vidéo qui dénonce un utilisateur ou une
                        personne à qui il est lié, dans le but de ne pas la diffuser.
                    </p>
                </li>
                <li>
                    <h6>
                        Concentration de l’information.
                    </h6>
                    <p>
                        Les services d’EyeNation et de ses marques de commerce ne doivent pas être utilisés de manière à favoriser la concentration
                        de la propriété de la presse. EyeNation se réserve le droit d’intervenir, notamment par la programmation
                        de la plateforme, afin d’encourager la diversité de l’information et de ses sources, cela en évitant
                        de favoriser un média en particulier.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <h5>
                LE SYSTÈME DE PAIEMENT.
            </h5>
            <p>
                Voir onglet «Mode de paiement».
            </p>
        </li>
        <li>
            <h5>
                LA PUBLICATION D’UNE VIDÉO
            </h5>
            <ol>
                <li>
                    <h6>
                        L’achat de la vidéo.
                    </h6>
                    <p>
                        Le média qui remporte l’enchère (l’acheteur ou adjudicataire) et qui acquitte le montant de la vente est le propriétaire
                        de la vidéo (l’acheteur) et peut l’utiliser aux fins pour lesquels elle est destinée. Il devient
                        responsable de son contenu. Le montant payé est le même, que la vidéo soit utilisée entièrement ou
                        en partie par l’acheteur.
                    </p>
                </li>
                <li>
                    <h6>
                        Respect des normes journalistiques et des règles de l’art communes aux journalistes.
                    </h6>
                    <p>
                        Quel que soit le type de journalisme, le média ou l’allégeance professionnelle ou syndicale, l’acheteur est tenu de respecter
                        les normes journalistiques reconnues au Québec, à moins que celles de son pays ou État d’origine
                        ne soient supérieures en termes de liberté journalistique.
                    </p>
                </li>
                <li>
                    <h6>
                        Respect de la vie privée.
                    </h6>
                    <p>
                        L’acheteur doit s’abstenir d’acheter une vidéo qui ne soit pas d’intérêt public, conformément à ses normes déontologiques.
                        L’achat d’une vidéo ne le libère pas de son obligation de mettre en balance le droit à la vie privée
                        et le droit du public à l’information.
                    </p>
                </li>
                <li>
                    <h6>
                        La vérification des sources.
                    </h6>
                    <p>
                        L’achat de la vidéo ne libère pas l’acheteur de l’obligation de vérifier les sources, la véracité des évènements et toutes
                        autres obligations liées à sa profession, bien que cette vidéo détienne la Certification EyeNation.
                    </p>
                </li>
                <li>
                    <h6>
                        Le droit de diffuser la vidéo.
                    </h6>
                    <p>
                        L’acheteur a le droit de déterminer les modalités de la diffusion de la vidéo, notamment le moment de sa diffusion, sous
                        réserve du présent contrat et de la loi.
                    </p>
                </li>
                <li>
                    <h6>
                        Le droit à l’édition et au montage.
                    </h6>
                    <p>
                        L’acheteur a le droit, de façon non limitative, d’ajouter du texte, d’améliorer la qualité de l’image ou du son, d’effectuer
                        des coupes et du montage si le but est d’en améliorer la qualité technique. Ces manipulations ne
                        doivent pas, de quelque façon que ce soit, être contraires aux faits dont rend compte la vidéo, ni
                        au droit du public à l’information, ni censurée autrement que pour des questions de bon goût et de
                        respect de l’ordre public, ni contraire au présent contrat.
                    </p>
                </li>
                <li>
                    <h6>
                        Respect de la présomption d’innocence.
                    </h6>
                    <p>
                        L’acheteur doit s’assurer de préserver la présomption d’innocence et l’intégrité du processus judiciaire, bien qu’une vidéo
                        puisse sembler contenir une preuve accablante.
                    </p>
                </li>
                <li>
                    <h6>
                        L’identification des mineurs et des personnes de grandes vulnérabilités.
                    </h6>
                    <p>
                        Les vidéos, au moment de leur diffusion par l’acheteur, ne doivent pas permettre d’identifier des personnes mineures ou des
                        personnes vulnérables, à moins que cette divulgation s’impose pour des questions relevant de l’intérêt
                        public ou du droit du public à l’information.
                    </p>
                </li>
            </ol>

        </li>
        <li>
            <h5>CONFIDENTIALITÉ DE L’IDENTITÉ DES UTILISATEURS</h5>
            <ol>
                <li>
                    <h6>
                        L’importance des utilisateurs.
                    </h6>
                    <p>
                        Les citoyens qui seront témoins d’évènements marquants, les lanceurs d’alerte et membres de la communauté EyeNation jouent
                        un rôle important dans la recherche d’une justice sociale et du droit du public à l’information.
                        Leur sécurité et leur droit à la vie privée ne doivent pas être compromis. Les médias qui misent
                        à l’enchère ont aussi le droit de voir leur identité tenue confidentielle afin de conserver un avantage
                        sur la concurrence.
                    </p>
                </li>
                <li>
                    <h6>
                        La confidentialité.
                    </h6>
                    <p>
                        Tous les utilisateurs ont le droit de voir leur identité être protégée et maintenue confidentielle. EyeNation s’engage à
                        prendre les moyens raisonnables pour assurer cette confidentialité, notamment par la conception et
                        le maintien d’un réseau sécuritaire, sous réserve du présent contrat et de la loi, ainsi qu’en ne
                        divulguant pas l’identité de ses utilisateurs sans leur consentement.
                    </p>
                </li>
                <li>
                    <h6>
                        Le niveau de confidentialité.
                    </h6>
                    <p>
                        Cette confidentialité ne peut être absolue et n’est pas garantie. EyeNation doit se conformer à la loi et aux ordonnances
                        judiciaires et devra ainsi, dans certaines situations, divulguer l’identité des utilisateurs qui
                        n’ont pas donné leur consentement.
                    </p>
                </li>
            </ol>
        </li>
    </ol>
</div>