<div >
    <div class="valign-wrapper">
        <img class="modalImg" src="resources/images/topModal2.png" alt="">
        <h4 class="center adjust-horizontal">POLITIQUE DE CONFIDENTIALITÉ</h4>
    </div>
    <!--<h4 class="center">POLITIQUE DE CONFIDENTIALITÉ</h4>-->
    <p>Quelle que soit la raison qui a motivé une personne à collaborer avec EyeNation ou à utiliser ses services, EyeNation
        recueille certaines informations à propos de chacune de ces personnes. Ces informations sont traitées avec le plus
        grand souci du respect de la confidentialité et de la vie privée.</p>
    <p>Cette politique se veut aussi claire et exhaustive que possible et doit s’interpréter conformément aux lois et applicables
        au Québec, notamment la Loi sur la protection des renseignements personnels dans le secteur privé, RLRQ, c. P-39.1,
        la Loi sur la protection des renseignements personnels et des documents électroniques, L.C. 2000, c. 5 et la « Loi
        Anti-Spam », L.C. 2010, c. 23. L’utilisateur peut communiquer avec info@eyenation.org pour toute question concernant
        la Politique de confidentialité ou le traitement de ses informations personnelles.</p>
    <ol>
        <li>
            <h5>INFORMATION COLLECTÉE ET OBJECTIFS DE LA COLLECTE</h6>
                <ol>
                    <li>
                        <h6>
                            Information à caractère personnel
                        </h6>
                        <p>
                            Les informations à caractère personnel sont les informations qui permettent d’identifier une personne. Plus elles présentent
                            un degré de sensibilité élevé, plus elles doivent être traitées avec précaution par la personne
                            qui les collecte, ses employés ou les tiers à qui elle les communique. EyeNation recueille le
                            nom, le pseudonyme, le mot de passe, l’adresse postale, l’adresse courriel (email), l’adresse
                            IP et le numéro de téléphone, lors de la création du compte d’utilisateur avec le consentement
                            de la personne qui les fournit. Lors de l’enregistrement d’une vidéo, la géolocalisation ainsi
                            que les détails de cette vidéo et de l’appareil utilisé pour la captation sont aussi enregistrés
                            afin d’être traités en lien avec le compte d’utilisateur et la vidéo. Ces informations sont nécessaires
                            pour garantir l’authenticité et l’intégrité des enregistrements en direct, tout au long de son
                            utilisation. Les numéros de carte de crédit et les adresses de facturation sont recueillis lors
                            de l’achat de vidéo et sont nécessaires afin de compléter la transaction. EyeNation exige aussi,
                            pour certains de ses collaborateurs, la preuve d’une pré approbation bancaire, afin d’assurer
                            la sécurité des transactions. Certains utilisateurs, pour bénéficier de l’ensemble des avantages
                            offerts par les services d’EyeNation, de même que leurs employés, peuvent devoir fournir leur
                            information bancaire, leur numéro d’assurance sociale et la copie d’une photo d’identité. Ces
                            informations sont recueillies dans le but d’effectuer les paiements directement dans le compte
                            bancaire des collaborateurs à qui ils sont destinés. Il s’agit là d’informations sensibles dont
                            la diffusion doit se limiter aux seules personnes à qui elles sont destinées. Toute personne
                            peut refuser de divulguer certains des renseignements demandés. Toutefois, comme EyeNation recueille
                            uniquement l’information nécessaire aux services offerts, les avantages liés à l’application
                            et aux services d’EyeNation peuvent en être grandement limités ou affectés. EyeNation tient à
                            informer ses utilisateurs qu’il met en place un système de prévoyance, de vigilance et de sécurité,
                            dans le but d’offrir une protection des renseignements personnels conforme à la pratique et au
                            degré de sensibilité des informations qui lui sont divulguées. EyeNation peut utiliser les informations
                            personnelles, dont l’adresse courriel, afin de communiquer avec les utilisateurs, que ce soit
                            une réponse concernant une requête faites par l’utilisateur ou pour informer de mises à jour
                            ou de nouveaux services offerts. L’utilisateur peut, en tout temps, se retirer de la liste de
                            communication promotionnelle. L’utilisateur qui se connecte à partir d’un compte créé dans une
                            autre application consent à ce que les informations ainsi divulguées à EyeNation soient traitées
                            de la même manière que s’il n’avait fourni uniquement que les informations demandées. EyeNation
                            se réserve le droit de refuser une telle connexion pour des raisons de sécurité, par exemple
                            si le mot de passe ne répond pas aux standards de sécurité élevés mis en place.
                        </p>
                    </li>
                    <li>
                        <h6>
                            Information non personnelle
                        </h6>
                        <p>
                            Par opposition aux informations personnelles, les informations dîtes non personnelles ne permettent pas d’identifier une
                            personne en particulier. Un grand nombre d’entreprises procède à leur collecte pour différentes
                            raisons, car, combinées avec d’autres informations, elles peuvent notamment fournir des informations
                            sur les habitudes de consommation et le lieu de travail de la personne qui utilise les services.
                            En plus des informations relatives à l’appareil de captation et à la vidéo, EyeNation peut recueillir
                            les informations relatives à un autre appareil utilisé pour se connecter au compte d’utilisateur,
                            notamment la marque, le modèle et l’adresse IP, la géolocalisation et le type de navigateur,
                            dans le but d’améliorer l’expérience et la performance des services offerts par EyeNation. Lorsque
                            les données recueillies sont associées à des informations personnelles, l’ensemble de ces informations
                            sont traitées avec les mêmes précautions que les informations personnelles.
                        </p>
                    </li>
                    <li>
                        <h6>
                            Lieu de conservation des informations.
                        </h6>
                        <p>
                            Les informations personnelles sont compilées, traitées, encryptés et enregistrées sur des serveurs sécurisés.
                        </p>
                    </li>
                </ol>
        </li>
        <li>
            <h5>
                ACCÈS À L’INFORMATION
            </h5>
            <ol>
                <li>
                    <h6>
                        PERSONNE CONCERNÉE
                    </h6>
                    <p>Les utilisateurs peuvent facilement avoir accès aux informations qu’ils ont fournies lors de la création
                        de leur compte afin de les mettre à jour ou de simplement les consulter. Il se peut que l’utilisation
                        de certains de nos services entraine une demande de mise à jour automatique des informations personnelles.
                        L’utilisateur peut alors confirmer la validité des informations ou apporter les corrections nécessaires.
                        La demande d’accès ou de rectification des informations personnelles est gratuite. Il se peut que
                        des frais soient exigés si la personne désire recevoir une reproduction, un transfert ou une transcription.
                        Ces frais représentent le coût réel des services et se veulent le plus raisonnables possible. Eye
                        Nation se réserve le droit de refuser une demande de communication de renseignement personnel ou
                        d’une vidéo, concernant la personne qui en a fait la demande, si cette personne a un intérêt dans
                        un litige, sans en être partie, ou si cela risquerait de nuire à une enquête.</p>
                </li>
                <li>
                    <h6>
                        EMPLOYÉS
                    </h6>
                    <p>
                        Certains employés d’EyeNation sont désignés pour recueillir de l’information, y avoir accès ou la traiter. Il peut s’agir
                        d’un agent au service à la clientèle, du responsable du traitement des renseignements et de la politique
                        de confidentialité ou toute autre personne choisie par EyeNation. Les employés doivent suivre les
                        lignes directrices concernant la sécurité des informations personnelles. De plus, la communication
                        des informations personnelles aux employés d’EyeNation se fait conformément à leur fonction et au
                        degré de sensibilité des informations. Ainsi, un employé n’aura pas nécessairement accès à toute
                        l’information détenue au sujet d’un utilisateur si ses fonctions ne le requièrent pas. Les employés
                        peuvent aussi être tenus de s’identifier systématiquement avant d’avoir accès à certaines informations.
                    </p>
                </li>
                <li>
                    <h6>
                        FILIALES ET MARQUES DE COMMERCE
                    </h6>
                    <p>
                        EyeNation, ses filiales et ses marques de commerce communiquent entre-elles les informations personnelles détenues au sujet
                        des utilisateurs dans le seul but d’assurer la sécurité des services et d’en améliorer la qualité
                        et la performance.
                    </p>
                </li>
                <li>
                    <h6>TIERS</h6>
                    <p>EyeNation ne communique pas les informations personnelles à des tiers, à moins qu’il en soit légalement
                        tenu, qu’il ait obtenu le consentement exprès de l’utilisateur concerné, ou qu’il s’agisse d’une
                        personne de confiance pouvant traiter les informations personnelles avec le même niveau de sécurité
                        que EyeNation s’impose. Seule l’information pertinente et nécessaire est alors communiquée. EyeNation
                        se réserve le droit de refuser une demande de communication de renseignement personnel ou d’une vidéo
                        concernant un tiers, si la communication risque de causer un dommage sérieux à ce tiers, à moins
                        que cette personne soit l’objet d’une enquête judiciaire.</p>
                </li>
            </ol>
        </li>
        <li>
            <h5>
                LES MESURES DE PROTECTION DES RENSEIGNEMENTS PERSONNELS
            </h5>
            <ol>
                <li>
                    <h6>
                        Les mesures en place
                    </h6>
                    <p>
                        En plus de limiter l’accès aux informations personnelles parmi ses employés, EyeNation peut encoder les données qu’il détient.
                        EyeNation fait des vérifications internes concernant la sécurité, dont la mise en place de mesure
                        de sécurité physique, en plus d’imposer un mot de passe sécuritaire aux employés et aux utilisateurs.
                        Des mesures sont mises en œuvre pour protéger les informations détenues de toute modification, communication
                        ou suppression non autorisée.
                    </p>
                </li>
                <li>
                    <h6>
                        Information supprimée ou modifiée.
                    </h6>
                    <p>
                        Lors de la mise à jour de vos informations personnelles, de la suppression, de la suspension ou de l’annulation d’un compte
                        d’utilisateur, il se peut qu’EyeNation conserve les données recueillies un certain temps pour assurer
                        la sécurité du service offert et en améliorer la qualité et la performance. Elle protège aussi les
                        utilisateurs et EyeNation contre des suppressions volontaires ou involontaires. Les informations
                        peuvent être associées avec d’autre information déjà recueillies ou à un nouveau compte d’utilisateur,
                        s’il s’agit vraisemblablement de la même personne.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <h5>
                GESTION DES RENSEIGNEMENTS PERSONNELS
            </h5>
            <ol>
                <li>
                    <h6>
                        TRANSPARENCE
                    </h6>
                    <p>
                        C’est dans un souci de transparence que cette politique de confidentialité est rédigée. Bien que des mesures de sécurité
                        importantes soient mise en place, EyeNation s’engage à informer les utilisateurs concernés advenant
                        une intrusion, une modification ou une suppression malveillante et définitive des données ou des
                        informations détenues à leur sujet, qui serait considérablement dommageable, dans un délai raisonnable.
                    </p>
                </li>
                <li>
                    <h6>
                        DEMANDE D’ACCÈS ET PLAINTES
                    </h6>
                    <p>
                        Toutes les demandes d’accès à l’information, lorsqu’elle n’est pas disponible à partir du compte d’utilisateur, de même que
                        les plaintes concernant la collecte d’information, peuvent être envoyées à l’intention du responsable
                        du traitement des renseignements et de la politique de confidentialité, par l’une ou l’autre des
                        méthodes suivantes :
                        <ul>
                            <li>
                                Adresse courriel : info@eyenation.org
                            </li>
                            <li>
                                Adresse postale: EyeNation en direct inc. 1181 rang 10 ouest, St-Adrien Québec, J0A 1C0
                            </li>
                        </ul>
                        <p>
                            EyeNation se réserve le droit de ne pas donner suite aux demandes qui sont, aux yeux d’une personne raisonnable, répétitives,
                            abusives, déraisonnables, notamment celles qui entraineraient des coûts démesurés.
                        </p>


                    </p>
                </li>
            </ol>
        </li>
    </ol>
</div>