<div>
    <div class="valign-wrapper">
        <img class="modalImg" src="resources/images/topModal1.png" alt="">
        <h4 class="center adjust-horizontal">Nous rejoindre​</h4>
    </div>
    <h5>Siège social: ​</h5>
    <ul>
        <li>1181 rang 10 ouest​</li>
        <li>St-Adrien, Québec​</li>
        <li>J0A 1CO​</li>    
        <li>(514)773-6686​</li>
        <li>info@eyenation.org​</li>
        <li>Facebook: (https://www.facebook.com/EyeNation-News-1946999238865675/)</li>
    </ul>
</div>