<div >
    <div class="valign-wrapper">
        <img class="modalImg" src="resources/images/topModal1.png" alt="">
        <h4 class="center adjust-horizontal">LE MODE DE PAIEMENT</h4>
    </div>
    <ol>
        <li>
            <h6>Généralités</h6>
            <p>EyeNation met à la disposition des utilisateurs un système de mise à l’enchère et de paiement simple et facilement
                accessible. Afin d’assurer un achat sécuritaire, le média doit avoir enregistré une carte de crédit ou un
                compte Paypal afin de miser à l’enchère. L’action de miser à l’enchère est irréversible, c’est-à-dire qu’un
                enchérisseur ne peut pas retirer sa mise. C’est au média que revient la responsabilité de miser un montant
                qu’il peut acquitter. La mise de départ est de cinquante (50) dollars canadiens. L’enchère augmente par bond
                de cinquante (50) dollars canadiens. La vidéo est attribuée au plus offrant dès que le délai de mise échoit.
                EyeNation peut empêcher le transfert d’une vidéo, malgré l’attribution, s’il est informé que le paiement
                sera retardé, mais il n’est pas tenu de le faire. EyeNation peut aussi empêcher ou retarder, de sa propre
                initiative, le transfert de la vidéo s’il a des motifs de croire que le paiement ne sera pas totalement reçu
                par le vendeur, sans préjudice aux obligations de l’adjudicataire. </p>
        </li>
        <li>
            <h6>Généralités</h6>
            <p>EyeNation met à la disposition des utilisateurs un système de mise à l’enchère et de paiement simple et facilement
                accessible. Afin d’assurer un achat sécuritaire, le média doit avoir enregistré une carte de crédit ou un
                compte Paypal afin de miser à l’enchère. L’action de miser à l’enchère est irréversible, c’est-à-dire qu’un
                enchérisseur ne peut pas retirer sa mise. C’est au média que revient la responsabilité de miser un montant
                qu’il peut acquitter. La mise de départ est de cinquante (50) dollars canadiens. L’enchère augmente par bond
                de cinquante (50) dollars canadiens. La vidéo est attribuée au plus offrant dès que le délai de mise échoit.
                EyeNation peut empêcher le transfert d’une vidéo, malgré l’attribution, s’il est informé que le paiement
                sera retardé, mais il n’est pas tenu de le faire. EyeNation peut aussi empêcher ou retarder, de sa propre
                initiative, le transfert de la vidéo s’il a des motifs de croire que le paiement ne sera pas totalement reçu
                par le vendeur, sans préjudice aux obligations de l’adjudicataire. </p>
        </li>
        <li>
            <h6>La mise automatique</h6>
            <p>Le média qui désire miser à l’enchère peut le faire manuellement ou programmer une mise automatique. La mise
                automatique sera valide à condition qu’une mise maximale soit indiquée. Une vente peut être conclue à un
                prix moindre que celui de la mise maximale, en autant que le temps se soit écoulé et que la dernière mise
                soit la plus élevée. </p>
        </li>
        <li>
            <h6>La mise maximale</h6>
            <p>La mise maximale est le montant le plus élevé qu’un enchérisseur est prêt à débourser pour l’achat d’une vidéo.
                Il n’est pas divulgué aux autres enchérisseurs, ni au vendeur. Une vente peut être conclue à un prix moindre
                que celui de la mise maximale. EyeNation informera l’enchérisseur lorsque l’enchère aura atteint la limite
                programmée. L’enchérisseur pourra alors augmenter sa mise maximale pour continuer de participer à l’enchère
                ou se retirer de l’enchère. L’inaction de l’enchérisseur suite à l’atteinte de sa limite maximale équivaut
                à son retrait de l’enchère. L’atteinte de la mise maximale d’un enchérisseur n’empêche pas les autres enchérisseurs
                de continuer à miser. </p>
        </li>
        <li>
            <h6>L’atteinte de la limite de crédit</h6>
            <p>Si la limite de sa carte de crédit ou de son compte Paypal est atteinte, l’enchérisseur doit contacter EyeNation
                pour l’en informer et convenir d’un autre mode de paiement exceptionnel pour continuer de miser à l’enchère.
                L’entente exceptionnelle entre EyeNation et l’enchérisseur est unique. Elle ne peut s’interpréter comme étant
                un usage entre les parties, malgré qu’une entente à des conditions similaires survienne à nouveau. Une entente
                exceptionnelle ne peut être interprétée comme conférant des droits ou des attentes à d’autres enchérisseurs.
                La décision de conclure une entente exceptionnelle est discrétionnaire à EyeNation. </p>
        </li>
        <li>
            <h6>
                Le vendeur
            </h6>
            <p>
                L’identité du vendeur est révélée au moment de la vente, mais peut être tenue secrète lors de l’enchère à la demande de celui-ci.
                Le vendeur ne peut imposer d’autres conditions que celles prévues au présent contrat à l’adjudicataire. Le
                vendeur ne peut pas refuser de vendre sa vidéo lorsque l’enchère est terminée. Il est tenu d’accepter le
                paiement qui est fait par dépôt bancaire ou compte Paypal.
            </p>
        </li>
    </ol>
</div>