<div>
    <div class="valign-wrapper">
        <img class="modalImg" src="resources/images/topModal2.png" alt="">
        <h4 class="center adjust-horizontal">La responsabilité de signaler</h4>
    </div>

    <!--<h4 class="center">La responsabilité de signaler</h4>-->
    <p>
        EyeNation fait la promotion de la liberté d’expression de ses utilisateurs et favorise l’intérêt du public d’avoir accès
        à l’information dans le respect des règles juridiques et des normes d’éthique journalistique. Dans cet optique, EyeNation
        n’effectue aucune modification des vidéos mises à l’enchère, à moins que l’une d’entre-elles n’ait fait l’objet d’un
        signalement.
    </p>
    <p>
        Les médias qui utilisent les services ont l’obligation de signaler à EyeNation une vidéo dont le contenu porte atteinte sans
        justification raisonnable à l’ordre public ou à des droits fondamentaux d’une personne. Cette obligation de signalement
        faite aux médias ne leur permet pas d’adopter eux-mêmes un comportement abusif ou anticoncurrentiel.
    </p>
    <p>
        Les médias doivent également signaler une vidéo choquante mise à l’enchère qui, selon leur bon jugement professionnel, comporte
        un contenu illégal. Un contenu illégal déroge aux lois en vigueur et signifie notamment un contenu qui viole les
        droits d’auteur, incite à la violence, la haine, la discrimination, la destruction de bien public ou privé, qui fait
        la promotion ou l’exploitation de la pédophilie ou du terrorisme.
    </p>
    <p>
        Une utilisation d’EyeNation est abusive lorsque la mise à l’enchère est excessive, vise à contourner les procédures de sécurité
        ou les règles prévues au présent contrat de la part d’un tiers.
    </p>
    <p>
        Pour dénoncer une vidéo illégale ou choquante, le média peut cliquer sur l’onglet de signalement dans la plateforme EyeNation
        New ou encore remplir le formulaire de signalement et le faire parvenir à l’adresse info@eyenation.org .
    </p>
    <h6><strong>Le formulaire de signalement</strong></h6>
    <p>
        Si vous désirez effectuer un signalement, vous devez remplir le formulaire ci-dessous, que vous transmettrez à l’adresse
        info@eyenation.org . Si vous désirez contester une sanction concernant l’utilisation de votre compte, veuillez communiquer
        avec le responsable des signalements à l’adresse info@eyenation.org .
    </p>
    <p>
        Tous les signalements sont étudiés par notre équipe, incluant les signalements spontanés qui ne respectent pas la forme ci-dessous.
        Le temps de traitement peut varier selon le nombre de signalement, mais nous nous engageons à traiter un signalement
        à l’intérieur d’un délai de dix jours ouvrables. Afin de respecter la vie privée de nos utilisateurs, nous ne faisons
        aucun suivi avec la personne qui a fait le signalement concernant l’état de traitement de celui-ci.
    </p>
    <p>
        Si vous croyez que le vidéo a déjà fait l’objet d’un signalement et qu’il est à nouveau mis à l’enchère ou que votre signalement
        n’a pas été retenu, nous vous demandons d’en effectuer un nouveau en d’indiquant dans l’espace prévu à cet effet
        le nombre de tentatives effectuées. Si d’autres enregistrements en direct rapportent le même évènement, vous devez
        aussi nous en informer.
    </p>
    <p>
        Votre signalement nous permet de respecter la liberté d’expression tout en nous assurant que nos services soient utilisés
        conformément à leur raison d’être et nous vous en remercions.
    </p>
    <ol>
        <li>
            <p>Pour quelle(s) raison(s) signalez-vous la vidéo ?</p>
            <ol>
                <li>
                    <p>
                        Contenu illégal
                    </p>
                    <ol>
                        <li>
                            <p>
                                Violation d’une loi nationale
                            </p>
                            <ul>
                                <p>Décrivez la loi et la raison pour laquelle il y aurait selon vous violation des termes de
                                    cette loi de quelle loi.
                                </p>
                            </ul>
                        </li>
                        <li>
                            <p>violence</p>
                            <ul>
                                <li>
                                    Envers une ou plusieurs personnes
                                </li>
                                <li>
                                    Envers un enfant ou une personne vulnérable
                                </li>
                                <li>
                                    Envers un animal
                                </li>
                                <li>
                                    Des biens matériels (par exemple Vandalisme)
                                </li>
                            </ul>
                        </li>
                        <li>
                            Terrorisme
                        </li>
                        <li>
                            Contenu explicite (graphique)
                        </li>
                        <li>
                            <p>Discrimination et droit fondamentaux</p>
                            <ul>
                                <li>
                                    Droit à l’image
                                </li>
                                <li>
                                    Droit à la vie privée
                                </li>
                                <li>
                                    Droit à l’honneur et la réputation
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>Propriété intellectuelle</p>
                            <ul>
                                <li>
                                    Droit d’auteur
                                </li>
                                <li>
                                    Marque de commerce
                                </li>
                                <li>
                                    Autres
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>Pornographie</p>
                            <ul>
                                <li>
                                    Juvénile
                                </li>
                                <li>
                                    Adulte
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>Autres</p>
                            <ul>
                                <li>Décrivez</li>
                            </ul>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>Abus d’utilisation des services</p>
                    <ul>
                        <li>
                            Décrivez l’abus
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Contournement des barrières de sécurités</p>
                    <ul>
                        <li>
                            Décrivez le bris de sécurité ou la tentative de bris de sécurité
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Autres</p>
                    <ul>
                        <li>
                            Décrivez votre problématique
                        </li>
                    </ul>
                </li>
            </ol>
        </li>
        <li>
            Indiquez, si applicable, le moment pertinent à la seconde près.
        </li>
        <li>
            Inscrire le numéro d’identification de la vidéo ici.
        </li>
        <li>
            Si nécessaire, décrivez brièvement la vidéo (100 mots maximum)
        </li>
        <li>
            <p>Identifiez-vous ou la personne que vous représentez et qui signale la vidéo.</p>
            <ul>
                <li>Nom, prénom</li>
                <li>Adresse correspondante au compte</li>
                <li>Nom d’utilisateur</li>
                <li>Numéro de téléphone pour vous rejoindre</li>
            </ul>
        </li>
        <li>
            <p>
                Si vous représentez une personne, identifiez-vous ici.
            </p>
            <ul>
                <li>Nom, prénom</li>
                <li>Adresse</li>
                <li>Numéro de téléphone pour vous rejoindre</li>
            </ul>
        </li>
        <li>
            <p>
                S’agit-il de la première fois que vous signalez cette vidéo?
            </p>
            <ul>
                <li>Oui</li>
                <li>Non</li>
                <ul>
                    <li>
                        Nombre de signalement
                    </li>
                </ul>
            </ul>
        </li>
        <li>
            <p>
                Est-ce que d’autres vidéos semblaient rapporter le même évènement ?

            </p>
            <ul>
                <li>Non</li>
                <li>Oui</li>
                <ul>
                    <li>Nombre de vidéo au moment de faire le signalement et si possible, leur numéro d’identification.</li>
                </ul>
            </ul>
        </li>
        <li>
            <p>
                Désirez-vous envoyer ce formulaire?
            </p>
            <ul>
                <li>En envoyant ce formulaire, je confirme que les informations fournies sont complètes et véridiques et que
                    la vidéo signalée correspond, au meilleur de mes connaissances, à la manière dont je la décris dans le
                    formulaire.
                </li>
                <li>Je comprends que les informations envoyées feront l’objet de vérification et que le titulaire de l’enregistrement
                    signalé pourrait être informé du signalement si ce-dernier est retenu. </li>
                <li>Je comprends que toute information trompeuse, tout signalement abusif ou utilisation détournée de ce formulaire
                    pourrait entrainer la suppression de mon compte d’utilisateur ou toute autre mesure appropriée. </li>
                <li>Je comprends que l’envoi du formulaire ne constitue pas une procédure juridique et que le signalement ne
                    peut être considéré comme l’envoi d’un avis d’intention d’entreprendre des procédures judiciaires.</li>
            </ul>
        </li>
    </ol>
</div>