<header class="container">
  <center >
	<img src="resources/images/Eye_Nation_Icone_BLEU.svg" class="img-responsive left" alt="EyeNation"/ width="25%" style="margin-top: 18px;">
<!-- 	<img src="resources/images/Eye_Nation_Icone_ROUGE.svg" class="img-responsive midle" alt="EyeNation"/ width="25%" style="margin-top: 18px;">
	<img src="resources/images/Eye_Nation_Icone_VERT.svg" class="img-responsive right" alt="EyeNation"/ width="25%" style="margin-top: 18px;"> -->
	<!-- <img src="resources/images/logoLocalisations.png" class="img-responsive" alt="EyeNation"/> -->
  </center>
</header>