#container {
    background-color: #2F302E;
    height: 100%
}

#sub-container {
    padding: 0;
    border-radius: 5px;
    margin-top: 8%;
}

.btn-conect {
    background-color: rgb(237, 30, 54) !important;
    color: white !important;
}

.last-input-form {
    margin-bottom: 0 !important;
}

.small {
    font-size: 1em;
}