<header id="logo" class="container">
  <center >
	<img src="resources/images/eyenation4.jpg" class="" alt="EyeNation" width="10%" style="margin-top: 18px;" />
<!-- 	<img src="resources/images/Eye_Nation_Icone_ROUGE.svg" class="img-responsive midle" alt="EyeNation"/ width="25%" style="margin-top: 18px;">
	<img src="resources/images/Eye_Nation_Icone_VERT.svg" class="img-responsive right" alt="EyeNation"/ width="25%" style="margin-top: 18px;"> -->
	<!-- <img src="resources/images/logoLocalisations.png" class="img-responsive" alt="EyeNation"/> -->
  </center>
</header>