<!DOCTYPE html>
<html ng-app="liveStream">
  <head>
    <title><%= title %></title>
    <base href="/" />
    <link rel='stylesheet' href='/cdn/stylesheets/style.css' />
      <link rel="stylesheet" type="text/css" href="/vendors/bootstrap/dist/css/bootstrap.min.css" >

	
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/cdn/javascripts/adapter.js"></script>
	<script type="text/javascript" src="/cdn/javascripts/rtcClient.js"></script>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
  </script>
	<script type="text/javascript" src="/cdn/javascripts/app.js"></script>
  </head>
  <body style="background-color: black">

  <div class="container">

  	<%= include remote-streams %>
<div>
  </body>
</html>