<!-- Styles -->
<link rel="stylesheet" href="resources/views/video/vendor/angular-material/angular-material.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link href="resources/views/video/css/style.css" rel="stylesheet">
<link href="resources/views/video/css/body.css" rel="stylesheet">
<link href="resources/views/video/css/header.css" rel="stylesheet">
<link href="resources/views/video/css/side.css" rel="stylesheet">

<!-- Content -->
<md-content>
    <div ng-include="'resources/views/video/templates/sideMenu.html'"></div>
    <div ng-include="'resources/views/video/templates/header.html'"></div>
    <div ng-include="'resources/views/video/templates/myVideos.html'"></div>
    <!--<div ui-view></div>-->
    <!--<div ng-hide="myVideosTab" ng-include="'resources/views/video/templates/myAuctions.html'"></div>-->
</md-content>